@media (max-width: 1200px) {

	.root .container
	{
		padding: 0 15px;
	}

	.root .container header .address
	{
		padding-left: 20px;
	}

	.root .container header .address li
	{
		margin-bottom: 7px;
	}

	.root .container header .menu
	{
		padding: 8px 5px 8px 20px;
	}

	.root .container header .menu li
	{
		padding-right: 25px;
	}

	.root .container .content .circleList
	{
		width: 100%;
	}

	.root .container .content .galleryFrame .wrapper .box-photo
	{
	  	padding: 6px;
  		padding-bottom: 1px;
	}

	.root .container .content .photoDetailed
	{
		padding-right: 0px;
	}

	.root .container footer .logo
	{
		width: 23%;
	}

	.root .container footer .menu
	{
		width: 77%;
	}

	.root .container footer .menu span
	{
	  	display: inherit;
	}

	.root .container footer .menu a
	{
	  	display: inline-block;
	  	width: auto;
	  	float: left;
	}
}

@media (max-width: 992px) {

	.root .container .content .carousel
	{
		height: 400px;
	}

	.root .container .content .galleryFrame .img,
	.root .container .content .gallery .img
	{
	  	height: 130px;
	}

	.root .container .content .wrappicon .icon
	{
		-webkit-transform: scale(0.9);
		-ms-transform: scale(0.9);
		-o-transform: scale(0.9);
		transform: scale(0.9);
	}

	.root .container .content .wrappicon .fa
	{
		font-size: 45px;
		right: -39px;
		top: 39px;
	}

	.root .container .content .photoDetailed .photoLarge .item
	{
	  	height: 415px;	
	}

	.root .container .content .photoDetailed .scroll .photoSmall .item
	{
		width: 196px;
	}

	.root .container .content .photoDetailed .scroll
	{
		height: 145px;
	}

	.root .container .content .detailed .text
	{
		padding: 0px;
		margin-top: 20px;
	}

	.root .container .content .detailed .price
	{
		margin-right: 15px;
	}

	.root .container .content .detailed .price ~ p.small
	{
		float: left;
		width: 100%;
	}

	.root .container .content .check-list ul
	{
		width: 65%;
	}

}

@media (max-width: 767px) {

	.root .container
	{
		padding: 0px;
		padding-top: 50px;
	}

	.root .container header .phone span a
	{
		color: #000;
		padding: 0;
	}

	.root .container .navHead
	{
	  	display: block;
  		position: absolute;
  		z-index: 18;
  		top: 0px;
  		left: 0px;
	}

	.root .container.showMobileMenu .navHead
	{
		position: fixed;
  		-webkit-transition: 0.3s cubic-bezier(.55,0,.1,1);
  		-o-transition: 0.3s cubic-bezier(.55,0,.1,1);
  		transition: 0.3s cubic-bezier(.55,0,.1,1);
	}

	.root .container.showMobileMenu .navHead .logo
	{
  		opacity: 0;
  		-webkit-transition: 0.3s cubic-bezier(.55,0,.1,1);
  		-o-transition: 0.3s cubic-bezier(.55,0,.1,1);
  		transition: 0.3s cubic-bezier(.55,0,.1,1);
	}

	.root .container header .menu
	{
	  	height: 100%;
  		position: fixed;
  		top: 0px;
  		padding-top: 50px;
  		background-color: rgb(110, 212, 255);
  		left: -770px;
  		padding-left: 0;
		padding-left: 0;		
  		margin-top: 0px;
		/*padding-top: 38px;*/
		color: white;

		z-index: 16;
  		-webkit-transition: 0.9s cubic-bezier(.55,0,.1,1);
  		-o-transition: 0.9s cubic-bezier(.55,0,.1,1);
  		transition: 0.9s cubic-bezier(.55,0,.1,1);
	}

	.root .container.showMobileMenu header .menu
	{
  		left: 0px;	

  		-webkit-transition: 0.6s cubic-bezier(.55,0,.1,1);
  		-o-transition: 0.6s cubic-bezier(.55,0,.1,1);
  		transition: 0.6s cubic-bezier(.55,0,.1,1);
	}

	.root .container header .menu li
	{
		width: 100%;
		font-size: 16px;
		padding: 14px;
		border-bottom: 1px solid rgb(239, 239, 239);
		text-align: left;
	}

	.root .container header .menu li.active
	{
		background-color: rgb(67, 197, 252);
	}

	.root .container header .menu li a
	{
  		color: #fff;
	}

	.root .container header .menu li.active a
	{
		color: #fff;
		background-color: transparent;
		border-radius: 0 none;
	}

	.root .container header .address
	{
		height: 28px;
		padding: 0px;
		overflow: hidden;
		position: relative;
		/*margin-bottom: 0px;*/
		-webkit-transition: 0.3s;
		-o-transition: 0.3s;
		transition: 0.3s;
	}

	.root .container header .address.show
	{
		height: 125px;
		-webkit-transition: 0.3s;
		-o-transition: 0.3s;
		transition: 0.3s;
	}

	.root .container header .address li
	{
  		padding-right: 5px;
  		padding-left: 10px;
  		width: 100%;
  		background-color: #DFE2E6;
  		margin-bottom: 0px;
  		padding-bottom: 2px;
  		padding-top: 9px;
	}

	.root .container header .address li:first-child
	{
		margin-top: 29px;
	}

	.root .container header .address li:last-of-type
	{
		padding-bottom: 10px;
	}


	.root .container header .address li.link
	{
		position: absolute;
		right: 20px;
		top: -3px;
		background-color: transparent;
	}

	.root .container header .address .showAddress
	{
		position: absolute;
		left: 10px;
		top: 6px;
		display: block;
	/*	overflow: hidden;
		width: 140px;
		height: 20px;*/
	}

/*	.root .container header .address .showAddress span
	{
		position: absolute;
		left: 20px;
		-webkit-transition: 0.3s;
		-o-transition: 0.3s;
		transition: 0.3s;
	}

	.root .container header .address .showAddress span.openAddress
	{
		top: 0px;
	}

	.root .container header .address .showAddress span.closwAddress
	{
		top: 400px;
	}

	.root .container header .address .showAddress.show span.openAddress
	{
		top: -400px;
		-webkit-transition: 0.3s;
		-o-transition: 0.3s;
		transition: 0.3s;
	}

	.root .container header .address .showAddress.show span.closwAddress
	{
		top: 0px;
		-webkit-transition: 0.3s;
		-o-transition: 0.3s;
		transition: 0.3s;
	}*/

	.root .container header .address .showAddress .fa
	{
	  	position: absolute;
		left: 97px;
		top: 1px;
		font-size: 16px;

		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);

		-webkit-transition: 0.3s;
		-o-transition: 0.3s;
		transition: 0.3s;
	}

	.root .container header .address.show .showAddress .fa
	{

		-webkit-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		transform: rotate(180deg);

		-webkit-transition: 0.3s;
		-o-transition: 0.3s;
		transition: 0.3s;
	}

	.root .container header .address .showAddress img
	{
		height: 18px;
		margin-top: -3px;
	}
	

	.root .container .content .cont
	{
		padding: 0px 10px;
	}

	.root .container .content .cont p
	{
		padding: 0px 0px;
	}

	.root .container .content .galleryFrame .wrapper
	{
		margin-bottom: 15px;
	}

	.root .container .content .head h2.square
	{
		padding: 0 45px;
	}

	.root .container .content .circleList li
	{
	  	/*padding-left: 40px;*/
	  	margin-bottom: 20px;
	}

	.root .container .content .circleList li:before
	{
		width: 20px;
		height: 20px;
	}

	.root .container .content .wrappicon:nth-child(even) .fa
	{
		display: none;
	}

	.root .container .content .wrappicon
	{
		margin-bottom: 0px;
	}

	.root .container .content .check-list
	{
		padding-left: 0px;
	}

	.root .container .content .check-list ul
	{
		width: 100%;
		padding-left: 30px;
	}

	.root .container .content .check-list img
	{
	 	width: 100%;
  		position: inherit;
  		margin-top: 20px;
  		margin-bottom: -15px;
	}

	.root .container header .logo
	{
		display: none;
	}


	.root .container .content .head
	{
	  	margin-bottom: 20px;
  		/*margin-top: 5px;*/
	}

	.root .container header .phone
	{
		width: 100%;
		margin-bottom: 10px;
		float: right;
	  	border-bottom: 1px solid rgb(229, 235, 244);
  		padding-bottom: 10px;
  		margin-bottom: 0px;
	}

	.root .container header .phone a
	{
		float: right;
		margin-top: -18px;
		padding: 5px 15px 8px 15px;
		margin-right: 5px;
	}

	.root .container footer
	{
		/*padding: 0px;*/
		margin-bottom: 0px;
	}

	.root .container footer .logo
	{
		margin-bottom: 25px;
	}

	.root .container footer .logo img
	{
		margin-top: 15px;
	}

	.root .container footer .menu a
	{
		font-size: 13px;
	}

}


@media (max-width: 767px) and (orientation: portrait) {

	.root .container .content {
		padding: 0 15px;
	}

	.root .container .content img {
		max-width: 360px;
	}

	.menu-dopolnitelnoe-menyu-container {
		width: 100%;
	}

	.root .container header .phone a
	{
	  	padding: 4px 12px 6px 12px;
  		margin-right: 3px;
	}

	.root .container .content .carousel
	{
		height: 250px;
	}

	.root .container .content .circleList
	{
	  	margin: 0 auto;
	  	padding: 0px;
	}

	.root .container .content .circleList li
	{
	  	width: 100%;
	  	padding-left: 40px;
	}

	.root .container .content .galleryFrame.different
	{
		margin-bottom: 60px;
	}


	.root .container .content .gallery .wrapper
	{
		padding: 0px;
	}

	.root .container .content .galleryFrame .img, 
	.root .container .content .gallery .img
	{
		height: 205px;
	}

	.root .container .content .circleList
	{
		width: 88%;
	}

	.root .container .content .galleryFrameLong .wrapper,
	.root .container .content .galleryFrame .wrapper
	{
		padding: 2px;
	}

	.root .container .content .galleryFrameLong .img
	{
		height: 120px;
	}

	/*.root .container .content .wrappicon
	{
		margin-bottom: 0px;
	}*/

	/*.root .container .content .head h2.square
	{
		padding: 0 45px;
	}
*/
	.root .container .content .head h2.square:before
	{
		left: 0px;
	}

	.root .container .content .head h2.square:after
	{
		right: 0px;
	}

	.root .container .content .photoDetailed .photoLarge .item
	{
		height: 200px;
	}

	.root .container .content .photoDetailed .scroll
	{
		height: 100px;
	}

	.root .container .content .photoDetailed .scroll .photoSmall .item
	{
		width: 135px;
	}

	.root .container .content .galleryFrame.different .wrapper:nth-child(1),
	.root .container .content .galleryFrame.different .wrapper:nth-child(2),
	.root .container .content .galleryFrame.different .wrapper:nth-child(3)
	{
		width: 100%;
	}

	.root .container .content .blockImgText
	{
		margin-bottom: 15px;
	}

	.root .container .content .blockImgText .wrapp-img,
	.root .container .content .blockImgText .text
	{
		padding: 2px;
	}

	.root .container .content .blockImgText .wrapp-img
	{
		margin-bottom: 5px;
	}

	.root .container footer
	{
		padding: 0px;
		/*margin-bottom: 0px;*/
	}

	.root .container footer .logo
	{
		width: 100%;
		text-align: center;
	}

	.root .container footer .logo img
	{
		width: 45%;
	}

	.root .container footer .menu
	{
 		margin: 0 auto;
 		display: block;
 		float: none;
 		width: 90%;
 		border: none;
	}

}

@media (max-width: 767px) and (orientation: landscape) {

	.root .container .content .galleryFrame .wrapper,
	.root .container .content .blockImgText .wrapp-img,
	.root .container .content .blockImgText .text,
	.root .container .content .gallery .wrapper
	{
		padding: 0 5px;
	}

	.root .container .content .blockImgText .wrapp-img
	{
		margin-bottom: 10px;
	}

	.root .container .navHead .logo
	{
		padding-right: 5px;
	}

	.root .container .navHead .logo img
	{
		padding-right: 12px;
		border-right: 1px solid #fff;
	}

	.root .container .navHead .logo .text
	{
		padding-left: 10px;
		padding-top: 3px;
	}

	.root .container header .phone a
	{
		padding: 1px 15px 4px 15px;
		margin-top: -1px;
	}

	.root .container header .phone span
	{
		float: left;
		padding-top: 3px;
		/*padding-right: 20px;*/
	}

	.root .container header .phone span:first-child
	{
		padding-right: 20px;
	}

	.root .container header .phone br
	{
		display: none;
	}

	.root .container header .address li.link
	{
		right: 29px;
	}

	.root .container .content .gallery .wrapper,
	.root .container .content .galleryFrame .wrapper
	{
		width: 50%;
	}

	.root .container .content .gallery .wrapper .img,
	.root .container .content .galleryFrame .wrapper .img
	{
		height: 160px;
	}

	.root .container .content .head h2.square:before
	{
		left: 5px;
	}

	.root .container .content .head h2.square:after
	{
		right: 5px;
	}

	.root .container .content .circleList
	{
		float: left;
	}

	.root .container .content .circleList li
	{
		padding-left: 30px;
	}

	.root .container .content .galleryFrameLong 
	{
		padding: 5px;
	}

	.root .container .content .galleryFrameLong .wrapper 
	{
		padding: 2px;
	}

	.root .container .content .check-list img
	{
		float: right;
		width: 45%;
	}

	.root .container .content .check-list ul
	{
		float: none;
	}

	.root .container footer .logo img
	{
		width: 85%;
	}
}

/*Iphone 6*/
@media only screen and (min-width: 375px) and (max-width: 667px) and (orientation: portrait) { 
	
	.root .container .content .galleryFrame .img,
	.root .container .content .gallery .img
	{
		height: 250px;
	}

	.root .container .content .galleryFrameLong  .img
	{
		height: 120px;
	}

	.root .container .content .photoDetailed .photoLarge .item
	{
		height: 230px;
	}

}

/*Iphone 6 landscape*/
@media only screen and (min-width: 375px) and (max-width: 736px) and (orientation: landscape) { 
	
	.root .container .content .gallery .wrapper .img, 
	.root .container .content .galleryFrame .wrapper .img
	{
		height: 220px;
	}

	.root .container .content .blockImgText .wrapp-img,
	.root .container .content .blockImgText .text
	{
		width: 50%;
	}
}

/*Iphone 4 landscape*/
@media only screen and (min-width: 320px) and (max-width: 480px) and (orientation: landscape) { 
	
	.root .container .content .gallery .wrapper .img, 
	.root .container .content .galleryFrame .wrapper .img
	{
		height: 160px;
	}

	.root .container .content .galleryFrame.different .wrapper .box-photo .img
	{
		height: 110px;
	}

	.root .container .content .photoDetailed .photoLarge .item
	{
		height: 270px;
	}


}